html{
  background: none repeat scroll 0 0 #FFFFFF;
  color: #333333;;
  height: 100%;
}
*{

  -moz-box-sizing: border-box;
}

.wrap{
  background-color: #E8E8E8;
  background-image: radial-gradient(circle at center top , #fcfcfc 100px, #a9a9a9 400px);
  height: 100%;
  
}

.content-wrap{
  margin: 0px 0px 0px 50px;
  max-width: 330px;
  padding: 80px 5px 78px 0px;
  height: auto;
}

.form-signin {
  max-width: auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);

  background: linear-gradient(to bottom, #FDFDFD, #E4E4E4) repeat scroll 0 0 #E4E4E4;
  border-radius: 3px 3px 3px 3px;
  border-top: 1px solid #EEEEEE;
  box-shadow: 0 1px 2px #888888;
  padding: 10px;
  position: relative;
}
