{% extends "index.html" %}
{% block left %} {% endblock %}
{% block content %}
		<div class="container">
	        <form action ="." method = POST class="form-signin">
	        	<h2 class="form-signin-heading">Please sign in</h2>
	            {% csrf_token %}    
	            {{ form.as_p }}
	            <input type = "submit" value = "login" class="btn btn-primary">
	        </form>
		</div>

		<h3><a href="{% url 'grabhalo_register' %}" style="margin-left:1100px;top:50px;position:absolute" > Register</a></h3>
        
{%endblock%}		