{% extends "index.html" %}

	{% block content %}
		<div class="wrap">
			<div class="content-wrap">
				<h4><a href="{% url 'grabhalo_register' %}" class="logo">Click to get yourself Register.</a></h4>
			    <form action ="." method = POST class="form-signin" class="well form-inline">
			      	<h3 class="form-signin-heading"></h3>
				    {% csrf_token %}    
			        {{ form.as_p }}
			        <input type = "submit" value = "login" class="btn btn-primary">
			    </form>
			</div>
		</div><!--end of wrap-->
		       
	{%endblock%}		