{% extends "index.html" %}
    {% block css %} 
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/chats.css"/>
      
    {% endblock %}

    {% block content %}

    <div class="row-fluid">
        <div class="span2" id="nav">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'grabhalo_dashboard' %}">Home</a></li>
                <li class = "active"><a href="{% url 'grabhalo_chats' %}">Chats</a></li>
                <li><a href="{% url 'grabhalo_logout' %}">Logout</a></li>
            </ul>        
        </div>
        
        <div class="span8" id="chat">
            <div id="selected_chat_div">
                <h4 style="color:#3a87ad;text-align:center;"  >
                    Inbox
                    <br><br><br>
                    Select a message to populate chats.
                </h4>
            </div>

                <div style="margin-top:380px;">
                    <input type="text" placeholder = "Type Here!!!" id="chat_message" style="width: 70%;min-height: 50px;" >&nbsp;
                    <input type="button" value="Send" class = "btn btn-primary" id = "chat_submit">             
                </div>
                <div id="alert"></div>
        </div>


        <div class="span2" id="user_list">
             <ul class="nav nav-pills nav-stacked" id="inbox">
                {%for key,values in message_list.items%}        
                    {% for k,v in values.items%}
                        <li id="{{k}}"><a href="#">{{key}}</a><b>{{v}}</b></li>
                    {%endfor%}
                {% endfor %}        
            </ul>
        </div>
    </div>

    {% endblock %}

