{% extends "index.html" %}
    {% block content %}

    <div class="row-fluid">
        <div class="span2" id="nav">
            <ul class="nav nav-pills nav-stacked">
                <li  class = "active" id="home_li"><a href="{% url 'grabhalo_dashboard' %}">Home</a></li>
                <li id="chat_li"><a href="{% url 'grabhalo_chats' %}">Chats</a></li>
                <li id="logout_li"><a href="{% url 'grabhalo_logout' %}">Logout</a></li>
            </ul>        
        </div>
        <div class="span1"></div>
        <div class="span6" style="text-align:center;" id="chat">
            <form id="form" method="POST" action="/dashboard/">
                <h4 style="color:#3a87ad"  >Welcome {{user}}.<br>Select Users from the list and start chatting!!!</h4>
                <br><br><br>
                <!--{% csrf_token %}
                {{ form.as_p }}-->
                <input type="text" placeholder = "Type Here!!!" id="message" style="width: 70%;min-height: 50px;" ><br>
                <input type="button" value="Send" class = "btn btn-primary" id = "submit">             
            </form>
            <div id="alert"></div>
        </div>
                <div class="span1"></div>

        <div class="span2" id="user_list">
            {% for user in users %}
                <input type="checkbox" class="check" name = "users" value="{{user.id}}"/> {{user.name}}<br><br/>
            {%endfor%}
        </div>
    </div>

    {% endblock %}
